.sign-up-wrapper {
    margin-top: 100px;
    text-align: center;
}

.sign-up-wrapper p {
    font-weight: 700;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-form input {
    max-width: 50%;
    margin-bottom: 20px;
}

.sign-up-form label {
    font-weight: 500;
    font-size: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer button {
    margin-bottom: 30px;
    width: 100px;
    font-size: 15px;
    cursor: pointer;
}